/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #61dafb;
}

.bouton {
  text-align: right;
  padding-right: 1em;
}

.optionrow {
  padding-bottom: 1em;
}

input.pin {
  margin-left: 0.5em;
}

.boutons {
  text-align: right;
}

.formLogin > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pinInput {
  width: 20em;
}

.alignement-droite {
  text-align: right;
}

.code-qr {
  padding: 1em;
}

div.table {}
div.table div.table-header {
  background-color: #9eb1bb;
  font-weight: bolder;
}

@media print {

  .w3-top {
    display: none;
  }

  .menu-gauche {
    display: none;
  }
}

/*
.card {
  width: 18rem;
}
*/

.card-viewing {
  max-height: 50%;
}

.card-viewing > img {
  object-fit: contain;
  max-height: 80vh;
}

.image-fullsize {
  max-width: 100%;
}

.fichier-metadata {
  font-size: smaller;
  padding-bottom: 0.75rem;
}

.fichier-browsing-img {
  padding: 0.2em;
  margin: 0.3em;
  float: left;
}

A.float-left {
  float: left;
  width: 8.5em;
  height: 8.5em;
}

.fichier-browsing-img img {
  width: 7.5em;
  height: 7.5em;
  object-fit: cover;
}

.fichier-viewing-img img {
  object-fit: contain;
  max-height: 65vh;
}

.fichier-viewing-img video, .video {
  object-fit: contain;
  max-height: 65vh;
}

.collection-row {
  padding-bottom: 1rem;
}

.document-description {
  padding-bottom: 2rem;
}

.partie-page {
  padding-bottom: 2rem;
}

.fichier-collection {
  padding-bottom: 2rem;
}

.erreur-top {
  padding-top: 4rem;
}

.filename > a {
  text-align: left;
}
