.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bouton {
  text-align: right;
  padding-right: 1em;
}

.optionrow {
  padding-bottom: 1em;
}

input.pin {
  margin-left: 0.5em;
}

.boutons {
  text-align: right;
}

.formLogin > div {
  padding-top: 1em;
  padding-bottom: 1em;
}

.pinInput {
  width: 20em;
}

.alignement-droite {
  text-align: right;
}

.code-qr {
  padding: 1em;
}

div.table {}
div.table div.table-header {
  background-color: #9eb1bb;
  font-weight: bolder;
}

@media print {

  .w3-top {
    display: none;
  }

  .menu-gauche {
    display: none;
  }
}
