.date-message {
  margin-bottom: 2em;
}

.date-modifiee {

}

.heure-modifiee {
  font-size: small;
}

.sujet-message {
  font-size: medium;
  display: inline;
  color: IndianRed;
  padding-right: 1em;
}

.texte-message {
  display: inline;
}
