.carousel {
  padding-top: 2em;
  padding-bottom: 2em;
}

@media (min-width: 32em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

    .carousel {
      margin: auto;
      width: 32em;
    }
}

@media (min-width: 64em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }

    .carousel {
      margin: auto;
      width: 64em;
    }
}

@media (min-width: 86em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}
