body,h1,h2,h3,h4,h5,h6 {font-family: "Tahoma", sans-serif}
.w3-bar,h1,button {font-family: "Verdana", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

/*
.App-header {
  padding-top:40px;
}
*/

.App-link {
  color: #61dafb;
}

TABLE {
  border: 1pt solid black;
}

TD {
  border: 1pt solid black;
  padding: 0.3em;
}

TH {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nowrap{
  white-space: nowrap;
}
