body,h1,h2,h3,h4,h5,h6 {font-family: "Tahoma", sans-serif}
.w3-bar,h1,button {font-family: "Verdana", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

.App {
  padding-top:3.5em;
}

.App-link {
  color: #61dafb;
}

A, A:visited {
  color: IndianRed;
}

A.btn, A.btn:visited {
  color: White;
}

TABLE {
  border: 1pt solid black;
}

TD {
  border: 1pt solid black;
  padding: 0.3em;
}

TH {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.nowrap{
  white-space: nowrap;
}

.page-header {
  padding-top: 1em;
}

.footer {
  width: 100%;
  margin-top: 3em;
  padding: 1em;
  padding-bottom: 0.5em;
  min-height: 4em;
  color: White;
}

.footer H2 {
  font-size: 1.25rem;
  font-family: "Tahoma", sans-serif;
}

.footer div.row {
  padding-left: 1em;
  padding-right: 1em;
}

.millegrille-footer {
  padding-top: 2em;
  text-align: center;
  font-size: 0.75rem;
  font-family: "Tahoma", sans-serif;
}

.idmg {
  font-size: small;
  padding-top: 2px;
  padding-left: 0.25em;
}

.millegrille {
  padding-left: 0.25em;
}
